<div class="aside py-5 bg-gray vh-100 d-flex flex-column">
    <h1 class="mb-4 ps-5"><a href="index.html"><img src="../assets/images/logo-ANSWER.svg" alt="logo圖片" class="d-block"></a></h1>
    <ul class="list-unstyled fw-bold">
        <li class="mb-4">
            <a href="###" class="d-block ps-5 py-1"><i class="bi bi-kanban-fill me-3"></i>Dashboard</a>
        </li>
        <li class="mb-4">
            <a href="###" class="d-block ps-5 py-1"><i class="bi bi-question-square-fill me-3"></i>Question</a>
        </li>
        <li class="mb-4">
            <a href="###" class="d-block ps-5 py-1"><i class="bi bi-question-square-fill me-3"></i>Assignment</a>
        </li>
        <li class="mb-4">
            <a href="###" class="d-block ps-5 py-1"><i class="bi bi-play-btn-fill me-3"></i>Course</a>
        </li>
        <li class="mb-4">
            <a href="###" class="d-block ps-5 py-1"><i class="bi bi-people-fill me-3"></i></i>Admin</a>
        </li>
        <li class="mb-4">
            <a href="###" class="d-block ps-5 py-1"><i class="bi bi-gear-fill me-3"></i>Settings</a>
        </li>
    </ul>

    <div class="d-flex member mt-auto ps-5">
        <div class="img-member me-3">
            <img src="../assets/images/andychen.jpeg" alt="andychen照片" class="mw-100">
        </div>
        <div>
            <div class="fw-bold">Andy Chen</div>
            <div class="text-gray fs-7">andy0401@mail.com</div>
        </div>
    </div>
</div>